body{
    font-family: Arial,sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container{
    background-color: #ffffff;
    padding:20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0.1);
    width:100%;
    max-width: 400px;
}