*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    padding: 5rem;
    height: 100%;
    width:100%;
    background-color:rgb(136,122,122);
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px; */
    /* grid-template-rows: 1fr 1fr ; */
    gap:1rem;

}
.box{
    font-size: 2rem;
    background-color: orange;
    border:0.5rem solid black;

}
.Header , .footer{
    grid-column-start:1 ;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start:2 ;
    grid-row-end: 4;
}
.Content1{
    grid-column-start: 2;
    grid-column-end: 4;
}